@media screen and (max-width: 991px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    header{

        .navbar {
            padding: 18px 0;
            display: flex;

        }

        .navbar-brand{
            padding-top: 2px;
            padding-bottom: 2px;
        }
        .navbar-nav{
            text-align: center;
            padding: 37px 0 34px;
        }

        .nav-link{
            font-size: 24px;
            line-height: 222%;
            text-align: center;
        }

        .navbar-collapse{
            background-color: #363A4D;
            margin: 0 -20px;
            padding: 0 40px;
            transition-duration: 1s;
            transform: translate(0,15px);

            .btn{
                width: 100%;
                margin: 0 0px 60px;
                padding: 22px 0px;
            }
            
        }
        
    }



}


