@media screen and (max-width: 991.999px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;

    }

    .container.title {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    header {
        .navbar {
            padding: 18px 0px 14px;
            margin-bottom: 0;
            transition: .3s;
            &.margin-bottom {
              margin-bottom: 109px;  
            }
        }

        .navbar-nav {
            text-align: center;
            padding: 34px 0 28px;
        }

        .nav-link {
            font-size: 24px;
            line-height: 200%;
            text-align: center;
            color: #FFFFFF;
        }

        .navbar-collapse {
            background-color: #363A4D;
            margin: 0 -20px 0;
            padding: 0 40px;
            transition: 1s;
            transform: translate(0, 15px);
            text-align: center;
        }

        .btn {
            justify-content: center;
            margin: 0 0 60px;
            width: 100%;
            padding: 22px 26.7px;
            letter-spacing: 0.6px;
            max-width: 295px;
        }
    }

    .first-screen {
        max-height: 649px;
        margin-bottom: 0;
        .main-title {
            font-size: 32px;
            margin: 0 auto 10px;
            max-width: 295px;
        } 
        
        .sub-title {
            font-size: 16px;
            margin: 0 auto 18px;
            max-width: 277px;

        }
        

        .slick-list {
            max-height: 649px;
            border-radius: 0;
        }

        .slick-slide {
            margin: 0 auto;
            border-radius: 0;
            height: calc(130vh - 72px);
            padding: 26vh 0 228px;
         
            &:before {
                content: "";
                left: 0;
                top: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgb(4 5 17 / 1%), rgb(4 5 17 / 15%));
            }

        }

        .slick-dots {
            bottom: 50px;
        }

        .container {
            z-index: 1; 
            position: relative;
        }
        
    }

    section.calculation.container-fluid.primary-bg-section{
        h2{
            margin-top: 59px;
        }
    }

    
    section.container-fluid{
        .template-title{
            h2{
                margin-bottom: 17px;
                padding: 0;
                font-size: 24px;
                line-height: 124.5%;

            }
            &.col-md-7{
                &:after{
                    right: calc(50% - 40px);
                    top: calc(100%);
                }
            }
            &.text-left{
                width: 100%;
                text-align: center;
                &:before{
                    left: calc(50% - 45px);
                }
            }
        }

        &.primary-bg-section {
            margin:0 0 60px;
            padding: 0;

        }

    }

    .calc-form {
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 52px 30px 31px;
        border-radius: 20px;
        &:after{
            display: none;
        }
        .row{
            input{
                max-width: 100%;
            }
        }

        .btn-lg {
            width: 100%;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
        }
    }

    section.advantages.container-fluid.secondary-bg-section  {
        padding: 55px 0 60px;
        margin-bottom: 54px;
            &:after{
                position: absolute;
                border-radius: 0;
                left: 0;
                right: 0;
            }
            .template-title{
                margin-bottom: 0;
            }

            .col-lg-3{
                margin-bottom: 3px;
            }
        h2{
            margin-top: 0;
            margin-bottom: 17px;
            padding: 0 24px;
        }

        h4{
            padding: 0 46px 16px;
        }
    }

    .advantages,
    .delivery,
    .services{
        .advantage-box{
            padding-top: 45px;
        }
        .slick-arrow {
            position: absolute;
            left: 70%;
            bottom: 45%;
            font-size: 0;
            width: 46px;
            height: 46px;
            background: transparent;
            border: none;
            background: url("data:image/svg+xml,%3Csvg width='24' height='42' viewBox='0 0 24 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.40237 41.2538C3.1171 41.5391 2.76051 41.6817 2.36827 41.6817C1.97602 41.6817 1.61943 41.5391 1.33416 41.2538C0.763614 40.6833 0.763614 39.7561 1.33416 39.1856L19.5202 20.9996L1.33416 2.81351C0.763614 2.24296 0.763614 1.31583 1.33416 0.74529C1.9047 0.174747 2.83183 0.174747 3.40237 0.74529L22.6225 19.9654C23.1931 20.536 23.1931 21.4631 22.6225 22.0337L3.40237 41.2538Z' fill='white'/%3E%3C/svg%3E%0A") center no-repeat;
            &:hover{
                background: url("data:image/svg+xml,%3Csvg width='24' height='42' viewBox='0 0 24 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.40237 41.2538C3.1171 41.5391 2.76051 41.6817 2.36827 41.6817C1.97602 41.6817 1.61943 41.5391 1.33416 41.2538C0.763614 40.6833 0.763614 39.7561 1.33416 39.1856L19.5202 20.9996L1.33416 2.81351C0.763614 2.24296 0.763614 1.31583 1.33416 0.74529C1.9047 0.174747 2.83183 0.174747 3.40237 0.74529L22.6225 19.9654C23.1931 20.536 23.1931 21.4631 22.6225 22.0337L3.40237 41.2538Z' fill='%2389C249'/%3E%3C/svg%3E%0A")  center no-repeat;
            }
            &:first-child{
                transform: rotate(180deg);
                left: 25%;
            }
        }
        
        .slick-dots {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            margin: 0;
            padding: 0;
                li{
                    display: flex;
                    padding: 0 13px;
                    list-style: none;
                    &.slick-active{
                        button{
                            background-color: #FFFFFF;
                        }
                    }
                }
    
                button {
                    font-size: 0;
                    border-radius: 50%;
                    padding: 0px;
                    opacity: 0.9;
                    border: 2px solid #FFFFFF;
                    background: transparent;
                    width: 8px;
                    height: 8px;
                }
        }
    }

    section.delivery.container-fluid.primary-bg-section {
        padding: 0;
        .delivery-box {
            margin: 0;
        }
        .btn{
            padding: 14px 13px;

            &:last-child{
                padding: 14px 26px;
            }
        }
        .slick-dots{
            margin-top: 32px;
        }
    }

    section.container-fluid.secondary-bg-section {
        &:after{
            position: absolute;
            border-radius: 0;
            left: 0;
            right: 0;
        }

    }

    section.services.container-fluid.secondary-bg-section {
        padding: 54px 0px 60px;
        margin-bottom: 54px;
        .slick-dots{
            margin-top: 32px;
        }

    }
    .about{
        flex-direction: column;
        display: flex;
        h5{
            text-align: justify;
        }
        .about-img{
            position: relative;
            left: 0%;
            margin-top: 24px;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
    }

    .faq{
        flex-direction: column;
        .faq-accordion{
            .accordion{
                .accordion-item {
                    button{
                        h4{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .faq-form{
            margin: 0 auto;
            margin-top: 18px;
            .form-container{
                padding: 38px 15px;
                h4,h5{
                    text-align: center;
                }
                button{
                    width: 100%;
                    justify-content: space-between;
                    display: flex;
                    &.icon{
                        margin: 0 -10px 0 0;
                    }
                }
            }
        }
    }

    .registered-cargo{
        .row{
            margin-bottom: 0;
            flex-direction: column-reverse;
            align-items: center;
            &:last-child{
                flex-direction: column-reverse;
            }
            .content{
                text-align: justify;
                button{
                    width: 100%;
                    margin: 29px 0 60px;
                    justify-content: space-between;
                    display: flex;
                    &.icon{
                        margin: 0 -10px 0 0;
                    }
                }
            }
        }
        ul {
            padding-left: 1rem;
            margin-bottom: 0;
        }
        .reg-img{
            width: 410px;
            height: 294px;
            
        }

    }

    .footer{
        .col-lg-3:first-child{
            text-align: center;
        }
        .menu{
            display: none;
        }
    }

}