
.first-screen{
    .slick-slide{
        padding: 163px 0 228px;
    }
    
    .main-title{
        margin-bottom: 8px;
        max-width: 500px;
        font-weight: 700;
        font-size: 56px;
        line-height: 126%;
        text-transform: uppercase;
        display: flex;
    }
    
    .sub-title{
        margin-bottom: 37px;
        max-width: 336px;
        font-weight: 300;
        font-size: 20px;
        line-height: 135.5%;
    }
    
    

}

