footer{
    height: 100px;
    background: $secondary-color;
    margin-top: 56px
}

.markup{
    position: fixed;
    bottom: 20px;
    left: 15px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;

}

 