body{
    background-color: $primary-bg;
    color: $text-color;
    font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 700;
    line-height: 126%;
}

h1, .h1{
    font-size: 56px;
}

h2, .h2{
    font-size: 36px;
}

h3, .h3{
    font-size: 24px;
}
 

h4, .h4{
    font-size: 22px;
}
 

h5, .h5{
    font-size: 20px;
}
 

h6, .h6{
    font-size: 18px;
}


h4,
button{
    color: $text-color;
}

a{
    color: $primary-color;
    &:hover{
        color: $primary-color;
        text-decoration: none;
    }
}

.container {
    max-width: 1170px;
    padding-right: 5px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
}

.container-xxl {
    max-width: 1850px;
}

p::selection,
li::selection{
    background-color:  $secondary-color;
}

.btn{
    padding: 13px 17px;
    margin: 0;
    font-weight: 600;
    line-height: 146%;
    border-radius: 90px;
    letter-spacing: 0.6px;
    &:hover{
        .icon{
            filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(250deg) brightness(180%) contrast(100%);
        }
    }
    &:focus-visible{
        box-shadow: none;
    }
}

.btn-primary{
    background-color: $primary-color;
    border-color: $primary-color;
        &:hover, &:focus, &:active{
            background-color: $secondary-color !important;
        }
}

.btn-secondary{
    background-color: transparent;
    border-color: $primary-color;
        &:hover, &:focus, &:active{
            background-color: $primary-color !important;
        }
}

.btn-lg{
    padding: 20.6px 31px;
    font-size: 16px;
    white-space: nowrap;
    align-items: center;
    display: flex;
    .icon{
        margin: 0 -10px 0 41px;
    }
}

/*scroll*/
.scroll {
    height: 200px;
    overflow: auto;
}
 
.scroll-x::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 5px;
}

.scroll-x::-webkit-scrollbar {
    height: 3px;
    background-color: #fff;
    border: 0px solid #fff;
    border-radius: 5px;
}

.scroll::-webkit-scrollbar {
    margin: 5px;
    width: 7px;
    border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    background-clip: padding-box;
    border: 0px solid #fff;
    border-radius: 5px;

    &:hover {
        background-color: $primary-color;
        cursor: pointer;
    }
}

.scroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.scroll::-webkit-scrollbar-corner {
    margin-right: 10px;
}

::-webkit-scrollbar-button {
    background-color: transparent;
    display: none;
}

/* IE */

.scroll {

    scrollbar-face-color: $primary-color;
    scrollbar-shadow-color: #fff;
    scrollbar-highlight-color: #fff;
}

/* FireFox */
.scroll {
    scrollbar-color: $primary-color #fff;
    padding-right: 15px
}

.scroll {
    overflow: auto;
}

.scroll-heidden::-webkit-scrollbar {
    width: 0px;
}

section { 
    margin-bottom: $section-margin-lg;
    &:last-of-type {
      margin-bottom: $section-margin-sm;
    }
    &:first-of-type {
      margin-bottom: 0;
    }
    &.container-fluid {
      margin: 0 auto $section-margin-lg;
      &.secondary-bg-section {
        max-width: 1920px;
        padding: 90px 85px 100px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 50px;
          right: 50px;
          top: 0;
          height: 100%;
          border-radius: 20px;
          background-color: $secondary-bg;
          z-index: -1;
        }
      }
      &.primary-bg-section {
        max-width: 1300px;
        padding: 90px 50px 12px;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          left: 50px;
          right: 50px;
          top: 0;
          height: 100%;
          z-index: -1;
        }
      }
      .template-title {
        position: relative;
        text-align: center;
        padding-bottom: 18px;
        margin-bottom: 50px;
        h2 {
          font-weight: 700;
          line-height: 124.5%;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        h3 {
          font-weight: 300;
          line-height: 124.5%;
        }
  
        &::before {
          position: absolute;
          content: "";
          left: 50%;
          top: calc(100% - 2px);
          transform: translate(-50%, 0);
          width: 85px;
          height: 2px;
          background-color: $secondary-color;
        }
        &.text-left {
          text-align: left;
          padding-bottom: 5px;
          h2:first-child{
            padding-left: 8px;
          }
          &::before {
            position: absolute;
            content: "";
            left: 0;
            top: calc(100% - 2px);
            transform: none;
          }
        }
        &.col-md-7 {
          &::before {
            display: none;
          }
          &::after {
            position: absolute;
            content: "";
            right: calc(0% + 85px);
            top: calc(100% - 34px);
            transform: none;
            width: 85px;
            height: 2px;
            background-color: $secondary-color;
          }
        }
      }
      &:nth-child(odd){
        .template-title {
          &::before {
            background-color: $primary-color;
          }
        }
      }
    }

}


