section.registered-cargo.container-fluid.secondary-bg-section{
    padding: 54px 0 0px;
    margin-bottom: 55px;
    .template-title{
        margin-bottom: 23px;
    }
}

.registered-cargo{
    .content{
        ul{
            li{
                font-weight: 300;
                font-size: 17px;
                line-height: 156.5%;
                margin-bottom: 20px;
            }
        }
    }
        .reg-img{
            height: 406px;
            background: center/contain;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .row{
            margin-bottom: 47px;
        }

        .row:last-child{
            flex-direction: row-reverse;
        }
        
    }
