///fonts///
$font-primary: "ProximaNova";

///colors///
$primary-color: #E58D35;
$secondary-color: #89C249;

$primary-bg: #282B38;
$secondary-bg: #363A4D;

$text-color: #ffffff;

///sections///
$section-margin-sm: 56px;
$section-margin-lg: 100px;




