<section class="container-fluid primary-bg-section">
    <div class="container">
        <div class="template-title text-left">
            <h2>О компании</h2>
        </div>
        <div class="about">
            <div class="col-lg-6 about-content">
                <h5>
                    Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украину. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.
                </h5>
                <h5>
                    Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!
                </h5>
            </div>
            <div class="col-lg-6 about-img">
                <img src="assets/img/about-img.png" alt="about">
            </div>
        </div>
    </div>
</section>