<section class="advantages container-fluid secondary-bg-section">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div class="advantages-slider row">
            <div class="col-lg-3">
                <div class="advantage-box">
                    <div class="advantage-img">
                        <img src="assets/img/adv-1.svg" alt="">
                    </div>
                    <div class="advantage-title">
                        <h4>Таможенное оформление груза</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage-box">
                    <div class="advantage-img">
                        <img src="assets/img/adv-2.svg" alt="">
                    </div>
                    <div class="advantage-title">
                        <h4>Страховка груза</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage-box">
                    <div class="advantage-img">
                        <img src="assets/img/adv-3.svg" alt="">
                    </div>
                    <div class="advantage-title">
                        <h4>Проверка товара на брак</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage-box">
                    <div class="advantage-img">
                        <img src="assets/img/adv-4.svg" alt="">
                    </div>
                    <div class="advantage-title">
                        <h4>Доставка в любой город Украины</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage-box">
                    <div class="advantage-img">
                        <img src="assets/img/adv-5.svg" alt="">
                    </div>
                    <div class="advantage-title">
                        <h4>Консолидация на складе</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage-box">
                    <div class="advantage-img">
                        <img src="assets/img/adv-6.svg" alt="">
                    </div>
                    <div class="advantage-title">
                        <h4>Ответственное хранение груза</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage-box">
                    <div class="advantage-img">
                        <img src="assets/img/adv-7.svg" alt="">
                    </div>
                    <div class="advantage-title">
                        <h4>Помощь в оплате товара</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage-box">
                    <div class="advantage-img">
                        <img src="assets/img/adv-8.svg" alt="">
                    </div>
                    <div class="advantage-title">
                        <h4>Упаковка, переупаковка, паллетирование груза к международной перевозке</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>