<section class="first-screen container-xxl">
    <div class="slider">
        <div style="background-image: url(assets/img/slider-img-1.png);">
            <div class="container">
                <div class="main-title">Прямое КАРГО из Китая</div>
                <div class="sub-title">Доставляем любые грузы из Китая по честной цене</div>
                 
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div style="background-image: url(assets/img/slider-img-2.png);">
            <div class="container">
                <div class="main-title">Выкуп товара с ТаоБао, 1688</div>
                <div class="sub-title">Выкуп и доставка товаров с китайских торговых площадок. </div>
                 
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div style="background-image: url(assets/img/slider-img-3.png);">
            <div class="container">
                <div class="main-title">Экспресс авто доставка</div>
                <div class="sub-title">Доставка автотранспортом из Китая в Украину от 15 дней, от $0,5/кг</div>
                 
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div style="background-image: url(assets/img/slider-img-4.png);">
            <div class="container">
                <div class="main-title">Экспресс авто доставка</div>
                <div class="sub-title">Доставка автотранспортом из Китая в Украину от 15 дней, от $0,5/кг</div>
                 
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/arrow.svg" class="icon" alt="icon"></button>
            </div>
        </div>
    </div>
    <div class="container-arrows"></div>
</section>
