<footer class="container-fluid primary-bg-section">
    <div class="container">
        <div class="footer">
            <div class="col-lg-3">
                <div class="logo-block">
                    <img src="assets/img/logo-footer.png" alt="logo">
                    <div class="info-block">
                        <h5>8(800)600-18-69</h5>
                        <h5>info@cargoasia.info</h5>
                        <h5>Адрес в Китае:</h5>
                        <h5>浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话</h5>
                        <h5>15966660379</h5>
                    </div>
                    <div class="socials-block">
                        <a href=""><img src="assets/img/instagram.png" alt="instagram"></a>
                        <a href=""><img src="assets/img/vk.png" alt="instagram"></a>
                        <a href=""><img src="assets/img/telegram.png" alt="instagram"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="shipment menu">
                    <h4>Грузоперевозки</h4>
                    <a href=""><p>Цены и сроки</p></a>
                    <a href=""><p>Услуги</p></a>
                    <a href=""><p>О компании</p></a>
                    <a href=""><p>Контакты</p></a>
                    <a href=""><p>Оформить груз</p></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="services menu">
                    <h4>Услуги</h4>
                    <a href=""><p>Выкуп товара</p></a>
                    <a href=""><p>Страховка груза</p></a>
                    <a href=""><p>Аренда склада</p></a>
                    <a href=""><p>Перевод денежных средств</p></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="info menu">
                    <h4>Информация</h4>
                    <a href=""><p>Отзывы</p></a>
                    <a href=""><p>Требования к грузу</p></a>
                    <a href=""><p>Договор оферта</p></a>
                    <a href=""><p>Как заключить договор</p></a>
                    <a href=""><p>Способы оплаты услуг</p></a>
                    <a href=""><p>Документы</p></a>
                    <a href=""><p>Статьи</p></a>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- <a href="markup.html" class="markup">markup</a> -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jQuery v3.7.0.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>