<section class="services container-fluid secondary-bg-section">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="delivery-slider">
            <div class="services-box">
                <div class="services-img" style="background-image: url(assets/img/services-1.png);">
                    <div class="gradient">
                        <div class="title-block">
                            <h3>Выкуп товара</h3>
                            <h5>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина</h5>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-box">
                <div class="services-img" style="background-image: url(assets/img/services-2.png);">
                    <div class="gradient">
                        <div class="title-block">
                            <h3>Выкуп товара</h3>
                            <h5>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина</h5>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-box">
                <div class="services-img" style="background-image: url(assets/img/services-3.png);">
                    <div class="gradient">
                        <div class="title-block">
                            <h3>Выкуп товара</h3>
                            <h5>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина</h5>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-box">
                <div class="services-img" style="background-image: url(assets/img/services-4.png);">
                    <div class="gradient">
                        <div class="title-block">
                            <h3>Выкуп товара</h3>
                            <h5>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина</h5>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>